.menu-container {
    display: none;
    width: 250px;
    max-width: 90%;
    padding: 15px;
    border: 3px solid #00FF00;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #00FF00, 0 0 30px 10px rgba(0, 255, 0, 0.5);
    color: #00FF00;
    background-color: #000000;
    position: absolute;
    flex-direction: column;
    top: 150px;
    left: 20px;
    font-size: 14px;
    animation: menu-slide-in 0.5s ease-in-out;
}

.switch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.lbl {
    display: inline-block;
    width: 45px;
    height: 23px;
    background: #979797;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .2s;
}

.lbl::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: #eee;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: .2s;
}

.switch-container input[type="checkbox"]:checked+.lbl::after {
    left: 26px;
}

.switch-container input[type="checkbox"]:checked+.lbl {
    background: #00FF00;
    box-shadow: 0 0 10px 2px #00FF00, 0 0 30px 5px rgba(0, 255, 0, 0.5);
}

.switch-container input[type="checkbox"] {
    display: none;
}

#instructions-container {
    display: none;
    width: 250px;
    max-width: 90%;
    padding: 15px;
    border: 3px solid #00FF00;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #00FF00, 0 0 30px 10px rgba(0, 255, 0, 0.5);
    color: #00FF00;
    position: fixed;
    flex-direction: column;
    top: 10%;
    bottom: 10%;
    right: 75px;
    font-size: 14px;
    animation: menu-slide-in 0.5s ease-in-out;
    z-index: 10;
}

#instructions-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #00FF00;
}

#instructions-container ul {
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 0;
}

#instructions-container ul li {
    margin-bottom: 10px;
}